/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/
/* ---- Base Rules ---- */
.checkbtn {
  font-size: 3rem;
  color:white;
  float:right;
  line-height: 80px;
  margin-right:40px;
  display:none;
}
#check {
  display:none;
}
.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
  display:inline-block;
}

  @media(min-width: 300px) and (max-width: 599px) {
    body {
      background: rgb(136, 203, 171);
      background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
      margin: 0;
      font-family: 'Merriweather', serif;
      font-size: 1.6rem;
      color: #fff;
    }
    .main__hero {
      margin:2.2rem;
    }
    .subnav {
      display: none;
    }
    /* Subnav button */
    .subnav {
      font-size: 1em;
      border: none;
      outline: none;
      color: white;
      padding: 1em 1.1em;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    /* Style the subnav links */
    .subnav-content a {
      float: left;
      color: white;
      margin: 1rem;
      text-decoration: none;
    }
    /* Add a grey background color on hover */
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    .subnav-content {
      position: absolute;
      left: 0;
      background-color: red;
      width: 100%;
      z-index: 1;
    }
   
    /* Typeography General*/
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 2.1rem;
      margin: 0.5rem 0.5rem;
    }
    .left-align {
      background-color: aqua;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left;
    }

    /* Typeography General
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 3em;
      margin: 2em 1rem;
    } */
   
  
    h2 {
      border-bottom: 0.01em solid #cc1;
      font-family: 'Oxygen', Sans-Serif;
      font-size: 1.8rem;
      color: #fff;
    }
    p {
      line-height: 1.6em;
      color: #eee;
      font-size: 1.6rem;
    }
    /* ---- Layout Rules ---- */
    main {
      margin: 10vh 1em 10vh;
    }
    .main-hero {
      min-height: 10vh;
      padding-top: 3em;
    }
    section {
      position: relative;
      min-height: 80vh;
    }
    /* ---- Module Rules ---- */
    .checkbtn {
      font-size: 3rem;
      color:black;
      
      line-height: 80px;
      margin-left:10px;
      display:inline-block;
    }
    #check {
      display:none;
    }
    #check:checked ~ #navbar__list { 
      display:block;
    }
    
    /* Navigation Styles*/
    .navbar__menu ul {
      padding-left: 0;
      margin: 0;
      text-align: left;
      display:none;
      /*list-style: none;*/
      /*float:right;*/
    }
    .navbar__menu li {
      display: block; /*change to item-list*/
    }
    
    .navbar__menu li:hover .subnav {
      display: block;
    }
    .navbar__menu .menu__link {
      display: block;
      padding: 1em;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
    .navbar__menu .menu__link:hover {
      background: #333;
      color: #fff;
      transition: ease 0.3s all;
    }
    /* Header Styles */
    .page__header {
      background: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
    }
    /* Footer Styles */
    .page__footer {
      background: #000;
      padding: 3em;
      color: #fff;
    }
    .page__footer p {
      color: #fff;
    }
    /* ---- Theme Rules ---- */
    /* Landing Container Styles */
    .landing__container {
      padding: 1em;
      text-align: left;
         }

         section:nth-of-type(even) .landing__container {
          margin-right: 0;
          margin-left: auto;
          text-align: right;
        }
        /* Background Circles */
        /* Note that background circles are created with psuedo elements before and after */
        /* Circles appear to be random do to use of :nth-of-type psuedo class */
        section:nth-of-type(odd) .landing__container::before {
          content: '';
          background: rgba(255, 255, 255, 0.187);
          position: absolute;
          z-index: -5;
          width: 20vh;
          height: 20vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(even) .landing__container::before {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          top: 3em;
          right: 3em;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n + 1) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 20vw;
          bottom: -5em;
          z-index: -5;
          width: 15vh;
          height: 15vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        /* ---- Theme State Rules ---- */
        /* Section Active Styles */
        /* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
        section.your-active-class {
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
          border:0.2em solid yellow;
          background-color:blue;
          opacity:0.7;
          
        }
        a.clicked-class {
          background-color: rgb(38, 143, 70);
        }
        section.your-active-class .landing__container::before {
          opacity: 1;
          animation: rotate 4s linear 0s infinite forwards;
          background-color: rgb(233, 247, 41);
        }
        section.your-active-class .landing__container::after {
          opacity: 1;
          animation: rotate 5s linear 0s infinite forwards reverse;
        }
  }
  @media (min-width: 600px) {
    body {
      background: rgb(136, 203, 171);
      background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
      margin: 0;
      font-family: 'Merriweather', serif;
      font-size: 1.6rem;
      color: #fff;
      font-size: 1.7rem;


    }
    .main__hero {
      margin:0.4em;
      font-size: 3.1rem;
    }
    .subnav {
      display: none;
    }
    /* Subnav button */
    .subnav {
      font-size: 1em;
      border: none;
      outline: none;
      color: white;
      padding: 1em 1.1em;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    /* Style the subnav links */
    .subnav-content a {
      float: left;
      color: white;
      margin: 1em;
      text-decoration: none;
    }
    /* Add a grey background color on hover */
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    .subnav-content {
      position: absolute;
      left: 0;
      background-color: red;
      width: 100%;
      z-index: 1;
    }
   
    /* Typeography General*/
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 3.3rem;
      margin: 2em 1rem;
    }
    .left-align {
      background-color: aqua;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
    }

    /* Typeography General
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 3em;
      margin: 2em 1rem;
    } */
   
    /* Style the subnav content - positioned absolute */
   
    h2 {
      border-bottom: 0.01em solid #cc1;
      font-family: 'Oxygen', Sans-Serif;
      font-size: 3.2rem;
      color: #fff;
    }
    p {
      line-height: 1.8em;
      color: #eee;
    }
    /* ---- Layout Rules ---- */
    main {
      margin: 10vh 1em 10vh;
    }
    .main-hero {
      min-height: 10vh;
      padding-top: 3em;
    }
    section {
      position: relative;
      min-height: 80vh;
    }
    /* ---- Module Rules ---- */
    /* Navigation Styles*/
    .navbar__menu ul {
      padding-left: 0;
      margin: 0;
      text-align: right;
      display:inline-block;
    }
    .navbar__menu li {
      display: inline-block;
    }
    .navbar__menu li:hover .subnav {
      display: block;
    }
    .navbar__menu .menu__link {
      display: block;
      padding: 1em;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
    .navbar__menu .menu__link:hover {
      background: #333;
      color: #fff;
      transition: ease 0.3s all;
    }
    /* Header Styles */
    .page__header {
      background: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
    }
    /* Footer Styles */
    .page__footer {
      background: #000;
      padding: 3em;
      color: #fff;
    }
    .page__footer p {
      color: #fff;
    }
    /* ---- Theme Rules ---- */
    /* Landing Container Styles */
    .landing__container {
      padding: 1em;
      text-align: left;
         }

         section:nth-of-type(even) .landing__container {
          margin-right: 0;
          margin-left: auto;
          text-align: right;
        }
        /* Background Circles */
        /* Note that background circles are created with psuedo elements before and after */
        /* Circles appear to be random do to use of :nth-of-type psuedo class */
        section:nth-of-type(odd) .landing__container::before {
          content: '';
          background: rgba(255, 255, 255, 0.187);
          position: absolute;
          z-index: -5;
          width: 20vh;
          height: 20vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(even) .landing__container::before {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          top: 3em;
          right: 3em;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n + 1) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 20vw;
          bottom: -5em;
          z-index: -5;
          width: 15vh;
          height: 15vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        /* ---- Theme State Rules ---- */
        /* Section Active Styles */
        /* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
        section.your-active-class {
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
          border:0.2em solid yellow;
          background-color:blue;
          opacity:0.7;
          
        }
        a.clicked-class {
          background-color: rgb(38, 143, 70);
        }
        section.your-active-class .landing__container::before {
          opacity: 1;
          animation: rotate 4s linear 0s infinite forwards;
          background-color: rgb(233, 247, 41);
        }
        section.your-active-class .landing__container::after {
          opacity: 1;
          animation: rotate 5s linear 0s infinite forwards reverse;
        }
  }
  @media(min-width: 600px) and (max-width: 900px) {
    body {
      background: rgb(136, 203, 171);
      background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
      margin: 0;
      font-family: 'Merriweather', serif;
      font-size: 1.6rem;
      color: #fff;
      font-size: 1.7rem;


    }
    .main__hero {
      margin:0.4em;
      font-size: 3.1rem;
    }
    .subnav {
      display: none;
    }
    /* Subnav button */
    .subnav {
      font-size: 1em;
      border: none;
      outline: none;
      color: white;
      padding: 1em 1.1em;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    /* Style the subnav links */
    .subnav-content a {
      float: left;
      color: white;
      margin: 1em;
      text-decoration: none;
    }
    /* Add a grey background color on hover */
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    .subnav-content {
      position: absolute;
      left: 0;
      background-color: red;
      width: 100%;
      z-index: 1;
    }
   
    /* Typeography General*/
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 3.2rem;
      margin: 2em 1rem;
    }
    .left-align {
      background-color: aqua;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
    }

    /* Typeography General
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 3em;
      margin: 2em 1rem;
    } */
   
    /* Style the subnav content - positioned absolute */
   
    h2 {
      border-bottom: 0.01em solid #cc1;
      font-family: 'Oxygen', Sans-Serif;
      font-size: 2.8rem;
      color: #fff;
    }
    p {
      line-height: 1.8em;
      color: #eee;
    }
    /* ---- Layout Rules ---- */
    main {
      margin: 10vh 1em 10vh;
    }
    .main-hero {
      min-height: 10vh;
      padding-top: 3em;
    }
    section {
      position: relative;
      min-height: 80vh;
    }
    /* ---- Module Rules ---- */
    /* Navigation Styles*/
    .navbar__menu ul {
      padding-left: 0;
      margin: 0;
      text-align: right;
      display:inline-block;
    }
    .navbar__menu li {
      display: inline-block;
    }
    .navbar__menu li:hover .subnav {
      display: block;
    }
    .navbar__menu .menu__link {
      display: block;
      padding: 1em;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
    .navbar__menu .menu__link:hover {
      background: #333;
      color: #fff;
      transition: ease 0.3s all;
    }
    /* Header Styles */
    .page__header {
      background: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
    }
    /* Footer Styles */
    .page__footer {
      background: #000;
      padding: 3em;
      color: #fff;
    }
    .page__footer p {
      color: #fff;
    }
    /* ---- Theme Rules ---- */
    /* Landing Container Styles */
    .landing__container {
      padding: 1em;
      text-align: left;
         }

         section:nth-of-type(even) .landing__container {
          margin-right: 0;
          margin-left: auto;
          text-align: right;
        }
        /* Background Circles */
        /* Note that background circles are created with psuedo elements before and after */
        /* Circles appear to be random do to use of :nth-of-type psuedo class */
        section:nth-of-type(odd) .landing__container::before {
          content: '';
          background: rgba(255, 255, 255, 0.187);
          position: absolute;
          z-index: -5;
          width: 20vh;
          height: 20vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(even) .landing__container::before {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          top: 3em;
          right: 3em;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n + 1) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 20vw;
          bottom: -5em;
          z-index: -5;
          width: 15vh;
          height: 15vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        /* ---- Theme State Rules ---- */
        /* Section Active Styles */
        /* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
        section.your-active-class {
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
          border:0.2em solid yellow;
          background-color:blue;
          opacity:0.7;
          
        }
        a.clicked-class {
          background-color: rgb(38, 143, 70);
        }
        section.your-active-class .landing__container::before {
          opacity: 1;
          animation: rotate 4s linear 0s infinite forwards;
          background-color: rgb(233, 247, 41);
        }
        section.your-active-class .landing__container::after {
          opacity: 1;
          animation: rotate 5s linear 0s infinite forwards reverse;
        }
  }
  @media(min-width: 901px) {
    body {
      background: rgb(136, 203, 171);
      background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
      margin: 0;
      font-family: 'Merriweather', serif;
      font-size: 1.6rem;
      color: #fff;
      font-size: 1.8rem;


    }
    .main__hero {
      margin:0.4em;
      font-size: 3.5rem;
    }
    .subnav {
      display: none;
    }
    /* Subnav button */
    .subnav {
      font-size: 1rem;
      border: none;
      outline: none;
      color: white;
      padding: 1em 1.1em;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    /* Style the subnav links */
    .subnav-content a {
      float: left;
      color: white;
      margin: 1em;
      text-decoration: none;
    }
    /* Add a grey background color on hover */
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    .subnav-content {
      position: absolute;
      left: 0;
      background-color: red;
      width: 100%;
      z-index: 1;
    }
   
    /* Typeography General*/
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 3.5rem;
      margin: 2em 1rem;
    }
    .left-align {
      background-color: aqua;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
    }

    /* Typeography General
    h1 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 3em;
      margin: 2em 1rem;
    } */
   
    /* Style the subnav content - positioned absolute */
   
    h2 {
      border-bottom: 0.01em solid #cc1;
      font-family: 'Oxygen', Sans-Serif;
      font-size: 3.0rem;
      color: #fff;
    }
    p {
      line-height: 1.8em;
      color: #eee;
    }
    /* ---- Layout Rules ---- */
    main {
      margin: 10vh 1em 10vh;
    }
    .main-hero {
      min-height: 10vh;
      padding-top: 3em;
    }
    section {
      position: relative;
      min-height: 80vh;
    }
    /* ---- Module Rules ---- */
    /* Navigation Styles*/
    .navbar__menu ul {
      padding-left: 0;
      margin: 0;
      text-align: right;
      display:inline-block;
    }
    .navbar__menu li {
      display: inline-block;
    }
    .navbar__menu li:hover .subnav {
      display: block;
    }
    .navbar__menu .menu__link {
      display: block;
      padding: 1em;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
    .navbar__menu .menu__link:hover {
      background: #333;
      color: #fff;
      transition: ease 0.3s all;
    }
    /* Header Styles */
    .page__header {
      background: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
    }
    /* Footer Styles */
    .page__footer {
      background: #000;
      padding: 3em;
      color: #fff;
    }
    .page__footer p {
      color: #fff;
    }
    /* ---- Theme Rules ---- */
    /* Landing Container Styles */
    .landing__container {
      padding: 1em;
      text-align: left;
         }

         section:nth-of-type(even) .landing__container {
          margin-right: 0;
          margin-left: auto;
          text-align: right;
        }
        /* Background Circles */
        /* Note that background circles are created with psuedo elements before and after */
        /* Circles appear to be random do to use of :nth-of-type psuedo class */
        section:nth-of-type(odd) .landing__container::before {
          content: '';
          background: rgba(255, 255, 255, 0.187);
          position: absolute;
          z-index: -5;
          width: 20vh;
          height: 20vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(even) .landing__container::before {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          top: 3em;
          right: 3em;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: -5;
          width: 10vh;
          height: 10vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        section:nth-of-type(3n + 1) .landing__container::after {
          content: '';
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
          position: absolute;
          right: 20vw;
          bottom: -5em;
          z-index: -5;
          width: 15vh;
          height: 15vh;
          border-radius: 50%;
          opacity: 0;
          transition: ease 0.5s all;
        }
        /* ---- Theme State Rules ---- */
        /* Section Active Styles */
        /* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
        section.your-active-class {
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
          border:0.2em solid yellow;
          background-color:blue;
          opacity:0.7;
          
        }
        a.clicked-class {
          background-color: rgb(38, 143, 70);
        }
        section.your-active-class .landing__container::before {
          opacity: 1;
          animation: rotate 4s linear 0s infinite forwards;
          background-color: rgb(233, 247, 41);
        }
        section.your-active-class .landing__container::after {
          opacity: 1;
          animation: rotate 5s linear 0s infinite forwards reverse;
        }
  }

  
 
  /* Section Active Styles Keyframe Animations */
  @keyframes rotate {
    from {
      transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
  }